/* EmployeeForm.css */

.employee-form-container {
    width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  li {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #01ddf6;
  }
  
  .error-message {
    color: red;
  }
  /* Navbar.css */

/* Styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05b8f4;
  color: #fff;
  padding: 10px 20px;
}

/* Styles for the navbar left section */
.navbar-left {
  display: flex;
  align-items: center;
}

/* Styles for the logo */
.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 23px;
}

/* Styles for the nav links */
.nav-links li {
  display: inline;
  margin-right: 20px;
  margin: 45px;
}

/* Styles for the nav links */
.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Styles for the nav links hover effect */
.nav-links li a:hover {
  color: #ffcc00;
}

/* Styles for the navbar right section */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Styles for the username */
.username {
  margin-right: 10px;
  font-weight: bold;
}

/* Styles for the logout button */
.logout-button {
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Styles for the logout button hover effect */
.logout-button:hover {
  background-color: #cc0000;
}
